* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

.main__background {
    width: 100%;
    height: 700px;
    background-image: url(https://i.pinimg.com/originals/38/6f/47/386f47c88a7aaa497ec6edc1c02cc9b6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.content {
    height: auto;
    width: 100%;
    margin-top: 100px;
    border-radius: 12px;
    overflow: hidden;
}

.form__login {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .8);
    padding: 40px 30px;
}

.title {
    width: 100%;
    display: flex;
    margin-bottom: 50px;
}

.link__form--register {
    line-height: 23px;
    margin-left: auto;
    color: #fe6132;
}

    .link__form--register a {
        text-decoration: none;
    }

.form-group {
    width: 100%;
    height: auto;
    font-size: 1.6rem;
    margin-top: 26px;
}

.input__username {
    padding: 10px 10px;
    width: 100%;
    outline: none;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.errorMessage__1 {
    font-size: 1.2rem;
    color: #fe6132;
}

.errorMessage__2 {
    font-size: 1.2rem;
    color: #fe6132;
}

.errorMessage__3 {
    font-size: 1.2rem;
    color: #fe6132;
}

.btn__Login {
    width: 100%;
    height: 40px;
    margin-top: 26px;
    background-color: #fe6132;
    cursor: pointer;
    border: none;
    color: #fff;
    border-radius: 6px;
}

.forgot__PassWord {
    margin-top: 10px;
    width: 100%;
    height: auto;
    font-size: 1.2rem;
}

.or {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 20px;
    font-size: 1.4rem;
}

    .or p {
        padding: 0 1rem;
    }

.line {
    height: 1px;
    width: 100%;
    background-color: #ccc;
}

.select__login {
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: auto;
}

.btn__login--facebook {
    width: 45%;
    height: 40px;
    color: #fff;
    background-color: #2289ff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn__login--google {
    width: 45%;
    height: 40px;
    margin-left: auto;
    color: #fff;
    border: none;
    background-color: #ff7f35;
    border-radius: 8px;
    cursor: pointer;
}

.checkLogin {
    font-size: 1.4rem;
    color: red;
    width: 100%;
    text-align: center;
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}
/*Mobile*/
@media (max-width: 739px) {
}


/*Mobile*/
@media (max-width: 739px) {
}
